<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beauty Salon</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin_app/css/admin_app.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<header>
    {% include "admin_app/navbar.html" %}
</header>
<div class="container-fluid">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>